<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.wings.intentbased.Intent</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IntentExpression</display-name>
    <servlet-name>IntentExpression</servlet-name>
    <servlet-class>com.wings.intentbased.Intent.servlets.IntentExpression</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IntentExpression</servlet-name>
    <url-pattern>/IntentExpression</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Expression</display-name>
    <servlet-name>Expression</servlet-name>
    <servlet-class>com.wings.intentbased.Intent.servlets.Expression</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Expression</servlet-name>
    <url-pattern>/Expression</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoExpression</display-name>
    <servlet-name>DemoExpression</servlet-name>
    <servlet-class>com.wings.intentbased.Intent.servlets.DemoExpression</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoExpression</servlet-name>
    <url-pattern>/DemoExpression</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AGV</display-name>
    <servlet-name>AGV</servlet-name>
    <servlet-class>com.wings.intentbased.Intent.servlets.AGV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AGV</servlet-name>
    <url-pattern>/AGV</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MCR</display-name>
    <servlet-name>MCR</servlet-name>
    <servlet-class>com.wings.intentbased.Intent.servlets.MCR</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MCR</servlet-name>
    <url-pattern>/MCR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AFL</display-name>
    <servlet-name>AFL</servlet-name>
    <servlet-class>com.wings.intentbased.Intent.servlets.AFL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AFL</servlet-name>
    <url-pattern>/AFL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NrgMgmt</display-name>
    <servlet-name>NrgMgmt</servlet-name>
    <servlet-class>com.wings.intentbased.Intent.servlets.NrgMgmt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NrgMgmt</servlet-name>
    <url-pattern>/NrgMgmt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CritUtl</display-name>
    <servlet-name>CritUtl</servlet-name>
    <servlet-class>com.wings.intentbased.Intent.servlets.CritUtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CritUtl</servlet-name>
    <url-pattern>/CritUtl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Video360</display-name>
    <servlet-name>Video360</servlet-name>
    <servlet-class>com.wings.intentbased.Intent.servlets.Video360</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Video360</servlet-name>
    <url-pattern>/Video360</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UHF</display-name>
    <servlet-name>UHF</servlet-name>
    <servlet-class>com.wings.intentbased.Intent.servlets.UHF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UHF</servlet-name>
    <url-pattern>/UHF</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LiveEvent</display-name>
    <servlet-name>LiveEvent</servlet-name>
    <servlet-class>com.wings.intentbased.Intent.servlets.LiveEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LiveEvent</servlet-name>
    <url-pattern>/LiveEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImMedia</display-name>
    <servlet-name>ImMedia</servlet-name>
    <servlet-class>com.wings.intentbased.Intent.servlets.ImMedia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImMedia</servlet-name>
    <url-pattern>/ImMedia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SftEnv</display-name>
    <servlet-name>SftEnv</servlet-name>
    <servlet-class>com.wings.intentbased.Intent.servlets.SftEnv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SftEnv</servlet-name>
    <url-pattern>/SftEnv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HlthMntr</display-name>
    <servlet-name>HlthMntr</servlet-name>
    <servlet-class>com.wings.intentbased.Intent.servlets.HlthMntr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HlthMntr</servlet-name>
    <url-pattern>/HlthMntr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SmrtHome</display-name>
    <servlet-name>SmrtHome</servlet-name>
    <servlet-class>com.wings.intentbased.Intent.servlets.SmrtHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SmrtHome</servlet-name>
    <url-pattern>/SmrtHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SmrtTrns</display-name>
    <servlet-name>SmrtTrns</servlet-name>
    <servlet-class>com.wings.intentbased.Intent.servlets.SmrtTrns</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SmrtTrns</servlet-name>
    <url-pattern>/SmrtTrns</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UrbMbl</display-name>
    <servlet-name>UrbMbl</servlet-name>
    <servlet-class>com.wings.intentbased.Intent.servlets.UrbMbl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UrbMbl</servlet-name>
    <url-pattern>/UrbMbl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlwStd</display-name>
    <servlet-name>FlwStd</servlet-name>
    <servlet-class>com.wings.intentbased.Intent.servlets.FlwStd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlwStd</servlet-name>
    <url-pattern>/FlwStd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LmtdMbl</display-name>
    <servlet-name>LmtdMbl</servlet-name>
    <servlet-class>com.wings.intentbased.Intent.servlets.LmtdMbl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LmtdMbl</servlet-name>
    <url-pattern>/LmtdMbl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SmrtTrsm</display-name>
    <servlet-name>SmrtTrsm</servlet-name>
    <servlet-class>com.wings.intentbased.Intent.servlets.SmrtTrsm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SmrtTrsm</servlet-name>
    <url-pattern>/SmrtTrsm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoAirQual</display-name>
    <servlet-name>DemoAirQual</servlet-name>
    <servlet-class>com.wings.intentbased.Intent.servlets.DemoAirQual</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoAirQual</servlet-name>
    <url-pattern>/DemoAirQual</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoEnergy</display-name>
    <servlet-name>DemoEnergy</servlet-name>
    <servlet-class>com.wings.intentbased.Intent.servlets.DemoEnergy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoEnergy</servlet-name>
    <url-pattern>/DemoEnergy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoTraffic</display-name>
    <servlet-name>DemoTraffic</servlet-name>
    <servlet-class>com.wings.intentbased.Intent.servlets.DemoTraffic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoTraffic</servlet-name>
    <url-pattern>/DemoTraffic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoHealth</display-name>
    <servlet-name>DemoHealth</servlet-name>
    <servlet-class>com.wings.intentbased.Intent.servlets.DemoHealth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoHealth</servlet-name>
    <url-pattern>/DemoHealth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoExpressionEdit</display-name>
    <servlet-name>DemoExpressionEdit</servlet-name>
    <servlet-class>com.wings.intentbased.Intent.servlets.DemoExpressionEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoExpressionEdit</servlet-name>
    <url-pattern>/DemoExpressionEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoSmartHome</display-name>
    <servlet-name>DemoSmartHome</servlet-name>
    <servlet-class>com.wings.intentbased.Intent.servlets.DemoSmartHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoSmartHome</servlet-name>
    <url-pattern>/DemoSmartHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecServ</display-name>
    <servlet-name>RecServ</servlet-name>
    <servlet-class>com.wings.intentbased.Intent.servlets.RecServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecServ</servlet-name>
    <url-pattern>/RecServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrackServ</display-name>
    <servlet-name>TrackServ</servlet-name>
    <servlet-class>com.wings.intentbased.Intent.servlets.TrackServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrackServ</servlet-name>
    <url-pattern>/TrackServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SmrtNrg</display-name>
    <servlet-name>SmrtNrg</servlet-name>
    <servlet-class>com.wings.intentbased.Intent.servlets.SmrtNrg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SmrtNrg</servlet-name>
    <url-pattern>/SmrtNrg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArSmrtTrsm</display-name>
    <servlet-name>ArSmrtTrsm</servlet-name>
    <servlet-class>com.wings.intentbased.Intent.servlets.ArSmrtTrsm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArSmrtTrsm</servlet-name>
    <url-pattern>/ArSmrtTrsm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuisSmrtTrsm</display-name>
    <servlet-name>BuisSmrtTrsm</servlet-name>
    <servlet-class>com.wings.intentbased.Intent.servlets.BuisSmrtTrsm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuisSmrtTrsm</servlet-name>
    <url-pattern>/BuisSmrtTrsm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnAmb</display-name>
    <servlet-name>ConnAmb</servlet-name>
    <servlet-class>com.wings.intentbased.Intent.servlets.ConnAmb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnAmb</servlet-name>
    <url-pattern>/ConnAmb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SmrtTurin</display-name>
    <servlet-name>SmrtTurin</servlet-name>
    <servlet-class>com.wings.intentbased.Intent.servlets.SmrtTurin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SmrtTurin</servlet-name>
    <url-pattern>/SmrtTurin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SmrtMbl</display-name>
    <servlet-name>SmrtMbl</servlet-name>
    <servlet-class>com.wings.intentbased.Intent.servlets.SmrtMbl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SmrtMbl</servlet-name>
    <url-pattern>/SmrtMbl</url-pattern>
  </servlet-mapping>
</web-app>